.content {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    text-align: center;
}

.preview {
    width: 180px;
    max-width: 180px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    padding-bottom: 20px;
}


.preview-text {
    max-width: 100%;
    word-wrap: break-word;
}

.thumbnail-frame {
    height: 180px;
    max-height: 180px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail {
    max-width: 95%;
    max-height: 95%;
    box-shadow: 3px 3px rgba(0.3,0.3,0.3,0.3);
}

.counts {
    font-family: "Noto Serif", "Palatino", "serif";
    padding: 1px;
}

.count {
    font-weight: bold;
}

.preview-title {
    font-weight: bold;
}

.controls {
    text-align: center;
}

.nav {
    padding-left: 0;
}
