.content {
    margin-left: 50px;
    margin-right: 50px;
    min-height: 80%;
    max-width: 510px;
    margin: 0 auto;
}

.form-field {
    padding-bottom: 5px;
}

.field-label {
    font-family: "Noto Serif", "Palatino Linotype", "serif";
    padding-top: 5px;
    padding-bottom: 5px;
}
