.header {

}

body {
    background-color: #f7efef;
    font-family: "Source Serif", "serif";
    font-size: 13pt;
}

.board-title {
    font-family: "Liberation Serif", "serif";
    text-align: center;
}

hr {
    margin: 5px;
}

.controls {
    display: inline-block;
    text-align: left;
    width: 100%;
    font-family: "Linux Libertine O", "Linux Libertine", "Times New Roman", "serif";
}

.nav {
    display: inline-block;
    padding-left: 20px;
}

.nav-link {
    font-weight: bold;
}

