.content {
    margin-left: 15px;
    margin-right: 15px;
    min-height: 80%;
    display: flex;
    flex-direction: column;
}

.counts {
    float: right;
    padding-right: 20px;
}

.count {
    font-weight: bold;
}

.post {
    margin: 13px 17px 13px 17px;
    padding: 10px;
    background-color: #ddddee;
    display: flex;
    min-width: 400px;
    max-width: calc(100% - 54px);
    width: fit-content;
}

.orig {
    margin: 0px 5px 5px 5px;
    background-color: #f7efef;
    border: none;
    display: flex;
    flex-direction: column;
    min-width: 80%;
}

.orig > .info-line {
    padding-bottom: 10px;
}

.post-image-frame {
    max-width: 150px;
    display: inline-block;
    vertical-align: top;
    padding: 5px 20px 5px 5px;
    float: left;
    display: block;
}

.orig-post-image-frame {
    width: 200px;
    max-width: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

.post-image {
    max-width: 100%;
    box-shadow: 3px 3px rgba(0.3,0.3,0.3,0.3);
}

.post-text {
    flex: 1;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
}

.info-line {
    padding-left: 3px;
    padding-bottom: 5px;
    display: inline-block;
    font-family: "Noto Serif", "Palatino Linotype", "serif";
    font-size: 1.1rem;
}

.post-title {
    font-weight: bold;
    color: black;
}

.post-nick {
    font-weight: bold;
    color: rgb(30, 70, 30);
}

.post-feather {
    font-weight: bold;
    color: rgb(180, 30, 30);
}

.post-time {
    font-style: italic;
}

.post-body {
    padding-left: 5px;
    padding-top: 8px;
    margin-top: 0px;
    margin-right: 7px;
    margin-bottom: 2px;
    float: none;
    white-space: pre-line;
    max-width: 1234px;
    font-size: 1rem;
    line-height: 125%;
}

.reply-form {
    display: flex;
    padding-left: 25px;
}

.reply-form h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Noto Serif", "Palatino Linotype", "serif"
}

.field-label {
    width: 100px;
    font-weight: normal;
}

.form-field {
    padding: 3px;
}

.form-submit {
    padding-top: 20px;
    padding-bottom: 17px;
}
