.content {
    margin-left: 15;
    margin-right: 15px;
    min-height: 80%;
}

.counts {
    float: right;
    padding-right: 20px;
}

.count {
    font-weight: bold;
}

.post {
    margin: 17px;
    padding: 10px;
    background-color: #ddddee;
    display: table;
}

.orig {
    margin: 5px;
    background-color: #f7efef;
    border: none;
    display: flex;
    flex-direction: column;
}

.post-image-frame {
    max-width: 150px;
    display: inline-block;
    vertical-align: top;
    padding: 5px 20px 5px 5px;
    float: left;
    display: block;
}

.orig-post-image-frame {
    width: 200px;
    max-width: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

.post-image {
    max-width: 100%;
    box-shadow: 3px 3px rgba(0.3,0.3,0.3,0.3);
}

.post-text {
    display: inline-block;
    vertical-align: top;
    flex: 1;
    word-wrap: break-word;
    overflow: hidden;
}

.info-line {
    padding-bottom: 7px;
    display: inline-block;
    font-size: 16px;
}

.post-title {
    font-weight: bold;
    color: black;
}

.post-nick {
    font-weight: bold;
    color: rgb(30, 70, 30);
}

.post-time {
    font-style: italic;
}

.post-body {
    padding-left: 5px;
    padding-top: 5px;
    margin-top: 0px;
    margin-bottom: 8px;
    float: none;
    white-space: pre-line;
    max-width: 1234px;
    font-size: 15px;
    line-height: 115%;
}

.reply-form {
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.field-label {
    width: 100px;
    font-weight: normal;
}

.form-field {
    padding: 3px;
}

.form-submit {
    padding-top: 20px;
}


