<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
	    <meta name="viewport" content="width=500">
        <link rel = "stylesheet" href="/static/global.css">
        <link rel = "stylesheet" href="/static/catalog.css">
        <link rel = "shortcut icon" href="/static/favicon.png">
        <title>/{{board_url}}/ – {{site_name}}</title>
    </head>
    <body>
        <div class="header">
            <div class="page-title">
                <h1>/{{board_url}}/ – {{board_title}}</h1>
            </div>
        </div>
        <hr/>
        <div class="controls">
        <div class="nav">
            <span class="nav-link">[<a href="/{{board_url}}/create">Create Thread</a>]</span>
        </div>
        </div>
        <hr/>
        <div class="content">
            {%original%}
                <div class="preview">
                    <a href="/{{board_url}}/thread/{{original.post_num}}">
                    	<div class="thumbnail-frame">
                            <img class="thumbnail" src="{{original.file_url}}"></img>
                    	</div>
                    </a>
                    <div class="counts">
                        R: <span class="count">{{original.replies}}</span> / I: <span class="count">{{original.img_replies}}</span>
                    </div>
                    <div class="preview-text">
                        <span class="preview-title">{{original.post_title}}</span>
                        <span class="preview-body">{{original.post_body}}</span>
                    </div>
                </div>
            {%original%}
        </div>
        <hr/>
        <small class="footer">{{$PLAINCHANT}}  ({{$TIME}})</small>
    </body>
</html>
