<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel = "stylesheet" href="./catalog.css">
    </head>
    <body>
        <div class="header">
            <div class="board-title">
                <h1>/{{board_url}}/ - {{board_title}}</h1>
            </div>
        </div>
        <hr/>
        <div class="content">
            {%original%}
                <div class="preview">
                    <div class="thumbnail-frame">
                        <img class="thumbnail" src="{{original.file_url}}"></img>
                    </div>
                    <div class="counts">
                        R: <span class="count">{{original.replies}}</span> / I: <span class="count">{{original.img_replies}}</span>
                    </div>
                    <div class="text">
                        <span class="post-title">{{original.post_title}}</span>
                        <span class="post-body">{{original.post_body}}</span>
                    </div>
                </div>
            {%original%}
        </div>

    </body>
</html>
