<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
    	<meta name="viewport" content="width=500">
        <link rel = "stylesheet" href="/static/global.css">
        <link rel = "stylesheet" href="/static/homepage.css">
    </head>
    <body>
        <div class="header">
            <div class="board-title">
                <h1>{{site_name}}</h1>
            </div>
        </div>
        <hr/>
           <div class="content">
            <p class="site-description">
                {{site_description}}
            </p>
            <h2>Boards</h2>
            {%board%}
                <a href="/{{board.url}}/catalog"><h4>/{{board.url}}/ - {{board.title}}</h4></a>
            {%board%}
        </div>
        <hr/>
        <small class="footer">{{$PLAINCHANT}}  ({{$TIME}})</small>
    </body>
</html>
