<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=500">
        <link rel = "stylesheet" href="/static/global.css">
        <link rel = "shortcut icon" href="/static/favicon.png">
        <title>{{message}}</title>
    </head>
    <body>
        <div class="content">
            <h4>Server Message</h4>
            <p>{{message}}</p>
        </div>
        <hr/>
        <small class="footer">
            <span class="signature">{{$PLAINCHANT}}  ({{$TIME}})</span>
        </small>
    </body>
</html>
