<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=500">

        <meta property="og:site_name" content="{{site_name}}"/>
        <meta property="og:url" content="{{site_url}}/{{board_url}}/thread/{{orig_post_num}}"/>
        <meta property="og:type" content="article"/>
        <meta property="og:title" content="{{orig_title}}"/>
        <meta property="og:image" content="{{site_url}}{{orig_file_url}}"/>
        <meta property="twitter:image" content="{{site_url}}{{orig_file_url}}"/>

        <link rel = "stylesheet" href="/static/global.css">
        <link rel = "stylesheet" href="/static/thread.css">
        <link rel = "shortcut icon" href="/static/favicon.png">
        <title>{:orig_has_title:}{{orig_title}} – {:orig_has_title:}/{{board_url}}/ – {{site_name}}</title>
    </head>
    <body>
        <div class="header">
            <div class="page-title">
                <h1>/{{board_url}}/ – {{board_title}}</h1>
            </div>
        </div>
        <hr/>
        <div class="controls">
        <div class="nav">
            <span class="nav-link">[<a href="/{{board_url}}/catalog">Catalog</a>]</span>
            <span class="nav-link">[<a href="#thread-end">Go to Bottom</a>]</span>
        </div>
        <div class="counts">
            R: <span class="count">{{replies}}</span> / I: <span class="count">{{img_replies}}</span>
        </div>
        </div>
        <hr/>
        <div class="content">
            <div class="post orig">
                <div class="info-line orig-info-line">
                    <a id="{{orig_post_num}}"></a>
                    {:orig_has_title:}<span class="post-title">{{orig_title}}</span> : {:orig_has_title:}
                    <span class="post-nick">{{orig_poster}}</span> <span class="post-feather">{{orig_feather}}</span> :
                    <span class="post-time" title="{{orig_timestamp}}">{{orig_time}}</span> :
                    <a class="subtle-link" href="/{{board_url}}/thread/{{orig_post_num}}">
                        <span class="post-num">No.{{orig_post_num}}</span>
                    </a>
                </div>
                <div class="post-text">
                    <div class="post-image-frame orig-post-image-frame">
                        <a href="{{orig_file_url}}"><img class="post-image orig-post-image" title="{{orig_file_name}}" src="{{orig_thumbnail_url}}"></img></a>
                    </div>
                    <p class="post-body">{{orig_post_body}}</p>
                </div>
            </div>
            {%reply%}
                <div class="post reply">
                    <div class="post-text">
                        {:reply.has_image:}
                            <div class="post-image-frame">
                                 <a href="{{reply.file_url}}"><img class="post-image" title="{{reply.file_name}}" src="{{reply.thumbnail_url}}"></img></a>
                            </div>
                        {:reply.has_image:}
                        <div class="info-line">
                            <a id="{{reply.post_num}}"></a>
                            <span class="post-nick">{{reply.poster}}</span>  <span class="post-feather">{{reply.feather}}</span> :
                            <span class="post-time" title="{{reply.timestamp}}">{{reply.time}}</span> :
                            <a class="subtle-link" href="/{{board_url}}/thread/{{orig_post_num}}#{{reply.post_num}}">
                                <span class="post-num">No.{{reply.post_num}}</span>
                            </a>
                        </div>
                        <p class="post-body">{{reply.post_body}}</p>
                    </div>
                </div>
            {%reply%}
        <hr/>
        <a id="thread-end"></a>
        <div class="reply-form">
            <form class="post-form" action="../reply/{{orig_post_num}}" method="POST" enctype="multipart/form-data">
                <h4>Reply to this thread</h4>
                <div class="form-field">
                    <div class="field-label"><label for="name">Name</label></div>
                    <div class="field-input">
                        <input name="name" type="text" placeholder="Anonymous">
                    </div>
                </div>
                <div class="form-field">
                    <div class="field-label"><label for="body">Comment</label></div>
                    <div class="field-input">
                        <textarea name="body" type="text" cols="48" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-field">
                    <div class="field-label"><label for="file">File</label></div>
                    <div class="field-input">
                        <input name="file" type="file"></input>
                    </div>
                </div>
                <div class="form-field form-submit">
                    <input type="submit" value="Post">
                </div>
            </form>
        </div>
        <br/>
        </div>
        <hr/>
        <small class="footer">
            <span class="signature">{{$PLAINCHANT}}  ({{$TIME}})</span>
            <span class="contact">{{site_contact}}</span>
        </small>
    </body>
</html>
