<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel = "stylesheet" href="/static/global.css">
        <link rel = "stylesheet" href="/static/thread.css">
    </head>
    <body>
        <div class="header">
            <div class="board-title">
                <h1>/{{board_url}}/ - {{board_title}}</h1>
            </div>
        </div>
        <hr/>
        <div class="controls">
        <div class="nav">
            <span class="nav-link">[<a href="/{{board_url}}/catalog">Catalog</a>]</span>
            <span class="nav-link">[<a href="/{{board_url}}/create">Create Thread</a>]</span>
        </div>
        <div class="counts">
            R: <span class="count">{{replies}}</span> / I: <span class="count">{{img_replies}}</span>
        </div>
        </div>
        <hr/>
        <div class="content">
            <div class="post orig">
                <div class="post-image-frame orig-post-image-frame">
                    <img class="post-image orig-post-image" src="{{orig_file_url}}"></img>
                </div>
                <div class="post-text">
                    <div class="info-line">
                        <span class="post-title">{{orig_title}}</span> :
                        <span class="post-nick">{{orig_poster}}</span> :
                        <span class="post-time">{{orig_time}}</span> :
                        <span class="post-num">No.{{orig_post_num}}</span>
                    </div>
                    <p class="post-body">{{orig_post_body}}</p>
                </div>
            </div>
            {%reply%}
            <div class="post reply">
                <div class="post-image-frame">
                    <img class="post-image" src="{{reply.file_url}}"></img>
                </div>
                <div class="post-text">
                    <div class="info-line">
                        <span class="post-nick">{{reply.poster}}</span> :
                        <span class="post-time">{{reply.time}}</span> :
                        <span class="post-num">No.{{reply.post_num}}</span>
                    </div>
                    <p class="post-body">{{reply.post_body}}</p>
                </div>
            </div>
            {%reply%}
        </div>
        <hr/>
        <small>{{$PLAINCHANT}}  ({{$TIME}})</small>
    </body>
</html>
