<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
	<meta name="viewport" content="width=500">
        <link rel = "stylesheet" href="/static/global.css">
        <link rel = "stylesheet" href="/static/thread.css">
    </head>
    <body>
        <div class="header">
            <div class="board-title">
                <h1>/{{board_url}}/ - {{board_title}}</h1>
            </div>
        </div>
        <hr/>
        <div class="controls">
        <div class="nav">
            <span class="nav-link">[<a href="/{{board_url}}/catalog">Catalog</a>]</span>
            <span class="nav-link">[<a href="/{{board_url}}/create">Create Thread</a>]</span>
        </div>
        <div class="counts">
            R: <span class="count">{{replies}}</span> / I: <span class="count">{{img_replies}}</span>
        </div>
        </div>
        <hr/>
        <div class="content">
            <a id="{{orig_post_num}}">
            <div class="post orig">
	        <div class="info-line">
	   	    <span class="post-title">{{orig_title}}</span> :
		    <span class="post-nick">{{orig_poster}}</span> :
		    <span class="post-time">{{orig_time}}</span> :
		    <span class="post-num">No.{{orig_post_num}}</span>
	        </div>
                <div class="post-text">
	            <div class="post-image-frame orig-post-image-frame">
                        <a href="{{orig_file_url}}"><img class="post-image orig-post-image" src="{{orig_thumbnail_url}}"></img></a>
                    </div>
                    <p class="post-body">{{orig_post_body}}</p>
                </div>
            </div>
	    </a>
            {%reply%}
	    <a id="{{reply.post_num}}">
            <div class="post reply">
                <div class="post-text">
                <div class="info-line">
                    <span class="post-nick">{{reply.poster}}</span> :
                    <span class="post-time">{{reply.time}}</span> :
                    <span class="post-num">No.{{reply.post_num}}</span>
                </div>

	  	    {:reply.has_image:}
		        <div class="post-image-frame">
		             <a href="{{reply.file_url}}"><img class="post-image" src="{{reply.thumbnail_url}}"></img></a>
                        </div>
		    {:reply.has_image:}
                    <p class="post-body">{{reply.post_body}}</p>
                </div>
            </div>
            </a>
            {%reply%}
	    <hr/>
	    <div class="reply-form">
            <form class="post-form" action="../reply/{{orig_post_num}}" method="POST" enctype="multipart/form-data">
	    	<h4>Reply to this thread</h4>
                <div class="form-field">
                    <div class="field-label"><label for="name">Name</label></div>
                    <div class="field-input">
                        <input name="name" type="text" placeholder="Anonymous">
                    </div>
                </div>
                <div class="form-field">
                    <div class="field-label"><label for="body">Comment</label></div>
                    <div class="field-input">
                        <textarea name="body" type="text" cols="48" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-field">
                    <div class="field-label"><label for="file">File</label></div>
                    <div class="field-input">
                        <input name="file" type="file"></input>
                    </div>
                </div>
                <div class="form-field form-submit">
                    <input type="submit" value="Post">
                </div>
            </form>
	    </div>
	    <br/>
        </div>
        <hr/>
        <small>{{$PLAINCHANT}}  ({{$TIME}})</small>
    </body>
</html>
